<div [formGroup]="userGroupForm">
    <div *ngIf="inputType==='owner'" fxLayout="column">
        <ng-select class="br-0" fxFlex class='page-select' (open)="loadOwners(1)" (close)="searchTerm = ''" [virtualScroll]="true"
            (scroll)="onScrollOwners($event)" [items]="ownersList" bindLabel="name" bindValue="userGroupId"
            formControlName="docOwner" [clearable]="false" [typeahead]="searchOwner$"
            (keydown)="checkSearchOwnerTerm($event)" (change)="onChangeOwner()">
        </ng-select>
        <div *ngIf="f.docOwner.invalid && (f.docOwner.dirty || f.docOwner.touched)">
            <mat-error *ngIf="f.docOwner.errors.required">
                Owner is required.
            </mat-error>
        </div>
    </div>


    <div *ngIf="inputType==='group'" fxLayout="column">
        <ng-select class="br-0" fxFlex class='page-select' (open)="loadOwners(1)" (close)="searchTerm = ''" [virtualScroll]="true"
            (scroll)="onScrollOwnerGroup($event)" [items]="ownerGroupList" bindLabel="name" bindValue="userGroupId"
            formControlName="docOwnerGroup" [clearable]="false" [typeahead]="searchOwnerGroup$"
            (keydown)="checkSearchOwnerGroupTerm($event)" (change)="onChangeOwnerGroup()">
        </ng-select>
        <div *ngIf="f.docOwnerGroup.invalid && (f.docOwnerGroup.dirty || f.docOwnerGroup.touched)">
            <mat-error *ngIf="f.docOwnerGroup.errors.required">
                Owner Group is required.
            </mat-error>
        </div>
    </div>
</div>